<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin&family=Cuprum&family=DynaPuff&family=Fraunces:opsz,wght@9..144,700&family=Indie+Flower&family=Lato:wght@300&family=Merriweather+Sans&family=Mochiy+Pop+One&family=Montserrat:wght@500;700&family=PT+Serif&family=Quicksand&family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('common/header'); -%>
    <% if( recipe != null ) { %>
    
        <div class="recipename"><h1><%- recipe.name %></h1></div>

        <div class="reciperow">
            <div class="recipeimg">
                <img src ="/uploads/<%- recipe.image %>" alt="<%- recipe.name %>" Loading="lazy" class="recipeimage">
            </div>
            <div class="recipeinfo">
                <div class="recipewraps">
                    <div class="recipewraps-1">
                        <h1><%- recipe.name %></h1>
                    </div>
                    <div class="icon"><%- recipe.category %></div>
                    <div class="recipesplit">
                        <h4>Cooking Instructions</h4>
                        <%- recipe.description %>
                    </div>
                </div>
                <div class="recipeing">
                    <div class="recipeings">
                        <h4>Ingredients</h4>
                        <ul class="listing">
                            <% recipe.ingredients.forEach(function(ingredients, index){ %>
                            <li class="lists"><%= ingredients %></li>
                            <% }) %>
                            
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <p>No ingredients added</p>
        <% } %>
</body>
</html>

